html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  position: relative;
  background-color: #f6f6f6 !important;
}

header nav {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2) !important;
}
header nav .navbar-collapse i {
  width: 18px;
  text-align: center;
}
header .header-line {
  height: 3px;
  background-color: #2563eb;
  width: 100%;
}
header .navbar-brand {
  font-size: 40px;
  padding: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.notfound .nf-title {
  font-size: 100px;
}

.home .header-extended {
  height: 500px;
  background-color: #0abcf9;
  background-image: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
}

body.center main.container {
  height: calc(100% - 79px);
}

.center-content {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  padding: 25px;
}

body.home {
  height: fit-content;
  padding-bottom: 60px;
}
body.home .content {
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}
body.home .content .content-icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 10px;
  background-color: #1a202c;
}
body.home .content .content-icon i {
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
}
body.home .content-feature {
  transition: 0.2s;
}
body.home .content-feature div {
  vertical-align: middle;
}
body.home .content-feature:hover {
  background-color: #f8f8f8;
}

body.rpi .content, body.notepad .content, body.files .content, body.admin .content, body.notfound .content {
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

body.rpi .content i {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}
body.rpi .content ul li a.active {
  background-color: #2563eb;
  border-radius: 5px;
  color: white !important;
}
body.rpi .panel-card {
  color: white;
  padding: 15px;
  border-radius: 10px;
}
body.rpi .panel-card .card-text {
  vertical-align: middle;
  line-height: 20px;
}
body.rpi .panel-card .icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 43px;
  font-size: 22px;
  vertical-align: middle;
  border: 3px solid white;
}
body.rpi .panel-card.error {
  background-color: #FF6978;
}
body.rpi .panel-card.info {
  background-color: #2563eb;
}
body.rpi .panel-card.normal {
  background-color: #f9c027;
}
body.rpi table thead {
  border-bottom: none;
  background-color: #f1f1f1;
}
body.rpi table thead th {
  border-bottom: none;
}
body.rpi table tbody {
  border-top: none !important;
}
body.rpi table th, body.rpi table td {
  padding: 0.7rem 0.7rem;
}
body.rpi table .log_long {
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body.rpi .label {
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 2px 5px;
}
body.rpi .label.info-label {
  background-color: #2563eb;
}
body.rpi .label.error-label {
  background-color: #FF6978;
}
body.rpi .label.normal-label {
  background-color: #f9c027;
}
body.rpi .pagination .page-item:not(.active) .page-link {
  color: #1a202c;
}

body.notepad .note-title {
  color: #4f4f4f;
}
body.notepad textarea.note {
  margin-top: 10px;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  height: 500px;
}
body.notepad textarea.note:focus {
  outline: none;
}

body.files .file, body.admin .file {
  padding: 15px;
  border: 1px solid #e5e5e5;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  border-radius: 5px;
}
body.files .file .file-icon i, body.admin .file .file-icon i {
  font-size: 45px;
  color: #2563eb;
}
body.files .file .file-opener, body.admin .file .file-opener {
  cursor: pointer;
}

body.admin .user-container {
  position: relative;
}
body.admin .user-container .loading-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
  opacity: 0.3;
}
body.admin .user-container .form-check-input:focus {
  outline: none;
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}
body.admin .user-container .form-check-input:focus:not(:checked) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}
body.admin .user-container #users_table thead th {
  font-weight: normal;
}
body.admin .user-container #users_table tbody {
  color: #1a202c;
  border-top: 1px solid #6b7280;
}
body.admin .user-container #users_table tbody tr td {
  vertical-align: middle;
}
body.admin .user-container #users_table .form-check-input {
  height: 1.5rem;
  width: 2.75rem;
  border-radius: 3rem;
}
body.admin .user-container #users_table .verified-check:checked {
  background-color: #33B67A;
  border-color: #33B67A;
}

@media only screen and (max-width: 600px) {
  .home .header-extended {
    height: 400px;
  }
}

/*# sourceMappingURL=main.css.map */
