#drop-file {
    height: 203px;
    cursor: pointer;
    border: 1px #cbd5e0 dashed;
    margin-bottom: 15px;
    &:hover, &.drag {
        border: 2px #cbd5e0 dashed;
        font-weight: bold;
    }
}

.tooltip-inner {
    max-width: 350px;
    hr {
        margin: 5px;
    }
    .file {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

